[2017-07-27 12:30] 19majkel94 opened #11 "Distributing sources on npm instead of transpiled bundle"
Why you publish sources on npm? You should do compile with declarations emiting and then upload the transpiled files, not sources. Now my tsc complain about files to compile outside of `rootDir` directory. Look how it's done in typeorm and other pleerock libraries.

[2017-07-27 12:33] 19majkel94 commented on #11
And by the way - where is your tsconfig.json file? Why you have it locally instead of pushed onto git?

[2017-07-27 12:52] IRCraziestTaxi commented on #11
@19majkel94 You are absolutely right; I should have published compiled scripts with type definitions. I realized that as soon as TypeScript updated and introduced breaking changes to my code.

I assume the issue you are having deals with the stricter generic type checks recently introduced in TypeScript. I have published an updated build for that (@0.0.4); see if that fixes your problem.

Going fo

[2017-07-27 13:08] 19majkel94 commented on #11
I have problem with compiling my app - I have excluded `node_modules` so it transpile only my app code, not the 3rd party libraries. I've done it manually (both `typeorm-linq-repository` and `ts-simple-nameof`) and now it works. Good work BTW! ;)

So please add tsconfig.json to the repo, configure building script and upload on npm the compiled with declarations version (*.js and *.d.ts) on all you

[2017-07-27 13:09] IRCraziestTaxi commented on #11
Excellent. I'm glad you got it working! :)

I will leave this issue open until the proper files are published rather than raw source with not tsconfig.

[2017-07-27 13:22] 19majkel94 commented on #11
You can see how I've done it in my lib:
https://github.com/19majkel94/class-transformer-validator

All sources are in `src` folder (even index.ts), tsconfig with `outDir` and `rootDir` options, so genereated build is in `build` - you only have to copy readme, licence and package.json to this folder (maybe as a gulp publish task?) to publish it. package.json `private: true` helps with incidental pu

[2017-07-27 13:27] 19majkel94 opened #12 "Equivalent of inner join"
I have this query done using query builder:

[code]
I want to return the entity by id if owner from parameters is an owner in database (relation song => User) or `undefined` if not (not found due to innerJoin).

[code]

I've tried `includeWhere` but it's not working - just don't include, returns entity without owner:
[code]
How can I achieve this kind of behaviour in the linq style?

[2017-07-27 17:06] IRCraziestTaxi commented on #12
@19majkel94 I just found an issue similar to this this morning... can you tell me what happens if you replace .innerJoin in the QueryBuilder query with .leftJoin or .leftJoinAndSelect? (I'm away from my PC for a while.) That query with .leftJoinAndSelect instead of .innerJoin is essentially what should be happening behind the scenes. I will need to find out where the issue lies, whether it be usin

[2017-07-27 20:59] 19majkel94 commented on #12
This is the case what I'm talking about right now. My old query is doing innerJoin, so:
- property `owner` is not showing in entity (no data leak, I can return the entity from my REST API)
- if entity owner id is not equal the user id from token, the whole entity is undefined

And your linq-style queries with `includeWhere` just loads or not the relation as it build query with `leftJoinAndSelect`.

[2017-07-27 21:05] IRCraziestTaxi commented on #12
Oh! I see what you want now. I misunderstood before.

That is a great point; inner joins are important. I will work on it.

[2017-07-28 04:03] IRCraziestTaxi commented on #12
Fixed in v0.1.0!

[2017-07-28 04:03] #12 closed

[2017-07-28 04:03] IRCraziestTaxi commented on #11
Fixed in v0.1.0!

[2017-07-28 04:03] #11 closed

[2017-07-28 04:24] IRCraziestTaxi commented on #11
Or, rather, 0.1.1. Had to make an update due to a dependency needing to be updated as well.

[2017-07-28 04:31] IRCraziestTaxi commented on #12
Or, rather, 0.1.1. Had to make an update due to a dependency needing to be updated as well.

[2017-07-28 04:31] IRCraziestTaxi commented on #12
@19majkel94 Thank you VERY much for the overload suggestion. It worked like a charm!

[2017-07-28 15:13] 19majkel94 opened #17 "ts-simple-nameof as a devDeps instead of normal dependency"
You use `ts-simple-nameof` as a normal dependency in the code:
[code]
So now with the newest version I have runtime error `cannot find module ...` - I have to install it manually like a peerDependency.

Every lib that you import in code should be listed in `dependencies` section of package.json. `devDependencies` is for tools like linters, test runners or build tools (even typescript).

[2017-07-29 08:38] 19majkel94 commented on #17
To be precise - `ts-simple-nameof` should be in `dependencies` section and `typeorm` should be in `peerDependencies` 😉

[2017-08-01 18:19] IRCraziestTaxi commented on #17
Fixed in v0.1.2.

[2017-08-01 18:19] #17 closed

[2017-08-04 11:27] Aracturat opened #20 "Add support of functional Where."
With use of ts compiler api we can create more functional LINQ to SQL (http://blog.scottlogic.com/2017/05/02/typescript-compiler-api-revisited.html)

For example, instead of this._userRepository.getOne().where(u => u.email).equal(email);
we can write this._userRepository.getOne().where(u => u.email == email)

[2017-08-04 17:07] Aracturat commented on #20
@IRCraziestTaxi  Simple initial code =)

Translate function (e => e.Param == 3 || e.Param >= 4 && e.Param <= 2);
to string: "e.Param = 3 or e.Param >= 4 and e.Param <= 2"

[code]

[2017-08-04 18:20] Aracturat commented on #20
Look at https://github.com/typeorm/typeorm/issues/128 for updates

[2017-08-07 20:02] 19majkel94 commented on #20
@Aracturat
Great work! Function translation to sql is great itself but it also handle my biggest query builder problem - conditions with parenthesis. TypeORM query builder has that problem as `typeorm-linq-repository` has.

I keep my fingers crossed and I hope that you will combine your knowledge together and build great functional typeorm query builder. Ping me when you will have an alpha to test

[2017-08-07 21:18] 19majkel94 commented on #20
Ok, I have one more reservation about passing function to `.where()`. Your examples show conditions only on the base entity and I would need to reproduce this kind of query:
[code]
Do you think that using ts compiler and ast you will be aple to inject params from variables and multi-joined relation properties condition? Like this:
[code]
The problem is that `playlist` entity looks like this:
[code

[2017-08-08 15:32] Aracturat commented on #20
@19majkel94 We can use https://www.npmjs.com/package/flora-sql-parser to work with SQL AST. It support joins and conditions.

For example, this object

[code]
will be converted to
[code]

[2017-08-08 17:22] 19majkel94 commented on #20
So you will be able to translate:
[code]
into
[code]
right?

My misgiving is that you would support only simple conditions like `(e => (e.Param == "3" || e.Param2 >= 4) && e.Param3 <= 2)` not the ones using language features like filter or lower case or multiple joined relation condition which needs generating inner join. I know that only subset of javascript can be supported but be aware about th

[2018-01-19 18:10] dan1er opened #26 "Integration with inversifyjs"
Hey man, amazing work!
I'm trying to integrate with inversify, I followed your indications,
I decorated the RepositoryBase class this way:

[code]

and then
[code]

but I'm having this error `TypeError: Class constructor RepositoryBase cannot be invoked without 'new'`,

Any ideas of what I might be doing wrong?

[2018-01-19 19:39] IRCraziestTaxi commented on #26
Thank you, and thanks for using the project!

Hmm... everything looks good at first sight. How are you injecting your repository into the class that is using it?

Obviously, your project may differ greatly, but here is a bottom-up example of how I use inversify:

`UserBL.ts`
[code]

`inversifyconfig.ts`
[code]

`UserController.ts`
[code]

Hopefully that is all you're missing; if not, then I'll hav

[2018-01-19 20:54] dan1er commented on #26
@IRCraziestTaxi  Thanks for your quick response,
I replicated your code above, and I'm still having the same issue, the only difference I have is that I am using inversify-express-utils instead of typeorm-routing-controllers-extensions, but I don't think is related

[2018-01-19 21:09] IRCraziestTaxi commented on #26
@dan1er Yeah, that definitely should not be related. Could you please share your code for setting up your inversify Container and getting your classes from it?

[2018-01-19 21:30] dan1er commented on #26
@IRCraziestTaxi Yes, you can see it in this repository https://github.com/dan1er/typeorm-linq-test

[2018-01-19 21:45] IRCraziestTaxi commented on #26
@dan1er Thanks. I will check out the code and look into it a little bit later, but I do notice one thing: your tsconfig needs to target es6 to use typeorm and typeorm-linq-repository. Let me know if changing that works.

[2018-01-19 21:48] dan1er commented on #26
@IRCraziestTaxi That fixed it! I don't know how I didn't see it! Thanks a lot, you saved my day

[2018-01-19 21:52] #26 closed

[2018-01-19 21:53] IRCraziestTaxi commented on #26
@dan1er No problem! :) Thanks again for using typeorm-linq-repository and enjoy!

[2018-05-08 03:44] welkie opened #27 "Limitation of using auto gen primary key"
I read in the documentation that you must use auto generated (identity) primary keys. Is this a recommendation or a strict requirement, and if so, why? I normally use GUIDs as my primary keys to solve certain business domain problems and I love this library, so I'd love to combine the two.

[2018-05-08 14:48] IRCraziestTaxi commented on #27
Thanks for checking out the repository! And thanks for the question. That's a good one that I hadn't fully considered.

Unfortunately, right now, it does require entities to implement auto-generated numeric IDs, but there's no reason it has to stay that way. I knew the ability to use the repository without every entity implementing auto-generated IDs would eventually come up. I just need to think

[2018-05-09 04:02] IRCraziestTaxi commented on #27
@welkie

I published `typeorm-linq-repository@1.0.0-alpha.5` and I believe it will allow you to use your entities with the repository. Let me know if it needs further work.

[2018-05-09 19:36] welkie commented on #27
Will give it a go and let you know soon. I have an [example repo](https://github.com/welkie/example-typeorm-linq) with 4 entities. I can swap out the auto gen ID for a GUID and see if it works still.

[2018-05-16 03:14] welkie opened #35 "What is the proper way to create repository instances?"
I noticed that in TypeORM's documentation, they recommend you call `getRepository` on the connection after it has been set up. This seems like a nice way to do DI, so you can repository instances connected to different databases if that's what you want.

As I was testing this library, I created some unit tests and noticed the way I was creating the repositories seems to hide a bit of magic. Since

[2018-05-16 18:10] IRCraziestTaxi commented on #35
I actually thought recently about this problem - the ability to create repositories from different connections. So I'm glad it came up now. It should be trivial to implement. I imagine the end result will look something like:

[code]

I will take care of this soon and will let you know when it is done.

Thanks!

[2018-05-17 01:12] IRCraziestTaxi commented on #35
Fixed in `1.0.0-alpha.8`.

[code]

[2018-05-17 01:12] #35 closed

[2018-05-17 01:38] welkie commented on #35
@IRCraziestTaxi Nice!

I'm not super knowledgeable with how TypeORM uses constructors under the hood, but regarding this syntax:

[code]

Have you considered, if possible, using an object with a params type instead, for more readable code and to support more future features? Like:

[code]

[2018-05-17 23:09] IRCraziestTaxi commented on #35
@welkie Good call. Implemented in `1.0.0-alpha.9`.

[2018-07-11 15:38] irissoftworks commented on #20
Hey guys,

Congrats! This is a pretty awesome little gem we've got here - makes the typeorm experience so much more enjoyable and future proof.

I think it would be beneficial to talk to the typeorm guys and see if they would want to take it in as a scoped module or something ? I mean, more people should know about this so that development is encouraged because there is a lot of potential here, it

[2018-08-29 14:42] IRCraziestTaxi commented on #20
Wow, it's hard to believe this project has been going on for so long already. It seems like just a few short months ago is when I first published this thing.

Sorry for never chiming in on this issue. Between work, other side projects, and the precious little time I get to improve this one, I haven't really had time to think much about taking this on, so I just kind of let the discussion continue

[2019-02-21 13:54] mattwelke opened #45 "Dependabot for keeping NPM dependencies up to date"
I noticed in this PR (https://github.com/IRCraziestTaxi/typeorm-linq-repository/pull/44) that the TypeORM dependency had fallen a bit out of date. I just wanted to let you know that I use Dependabot with GitHub for my open source repos (it's free for public repos) to automatically have PRs opened for me when a dependency is out of date. I can even set it to automatically merge the PR and if I conf

[2019-03-07 01:49] irissoftworks opened #46 "Logical Operators lessThan, greaterThan etc don't work with dates"
A few places in the docs mention using lessThan, greaterThan with a variable named date
`    .and(u => u.lastLogin)
    .greaterThan(date);`

Currently the typings don't allow for passing in dates, and it doesn't seem to work, even with a cast to any:
`    greaterThan(value: number): IQuery<T, R, P>;`

Any ideas on this ?

[2019-03-07 04:07] IRCraziestTaxi commented on #46
This was a pretty severe oversight on my part. I will look into this and publish a fix asap.

Thanks for using typeorm-linq-repository! I'm glad it's still seeing some use and generating some issues so that it can continue to be improved.

[2019-03-07 15:40] irissoftworks commented on #46
This library is brilliant, a joy to work with, and it definitely deserves a lot more love from the community.

In my opinion, for pretty much all cruddy stuff, such as including / joining relations etc this stuff beats typeorm native repos hands down.

I basically don't have anything but linq-repositories now in the microservices that use typeorm and some of them do pretty complex stuff. You can w

[2019-03-07 20:51] irissoftworks opened #47 "Filtering Included Relationships not working with IQuery "where" method"
The documentation mentions the following:

[code]

This doesn't seem to work with "where", the inferred type is User, but it works with and/or and post is inferred.

I have been using "and" as a workaround in most cases and it works fine. Not knowing the internals of the code (or tested in depth) the concerns I have are:

- could it be causing other undesirable side effects or is it just the typin

[2019-03-12 17:53] ikatun opened #48 "Support for lazy relations"
Awesome library :)

But is there a support for lazy relations?

Lazy relations supported by typeorm have a Promise<> type which appears to mess up typings for typeorm-linq-repository for include and includeThen calls.

If I ignore type errors, the code runs fine, but type errors prevent the usage of autocomplete when writing queries.

[2019-03-14 06:48] IRCraziestTaxi commented on #46
Fixed in `1.0.0-alpha.14`!

[2019-03-14 06:49] #46 closed

[2019-03-14 06:49] IRCraziestTaxi commented on #48
Fixed in `1.0.0-alpha.14`!

[2019-03-14 06:49] #48 closed

[2019-03-14 06:50] IRCraziestTaxi commented on #47
I will need to look into this. Can you provide some code showing the entities and queries that are causing problems?

[2019-03-14 14:13] irissoftworks commented on #47
[code]

will give you

[code]

Replace with and instead of where - it will compile fine.

[2019-03-14 15:44] IRCraziestTaxi commented on #47
Ah... I see what's going on. The Query class allows for it, but the interface does not.

My intention (some time after the time at which the initial documentation was written) was for `include` to not behave like a `join` when using `where`.

My thought was this:

[code]

I think the reason I did that was because "include where" didn't make a lot of sense to me in the sense that doing it the same

[2019-03-14 15:59] irissoftworks commented on #47
Thanks so much for clarifying.

Yeah, "and" / "or" do work and as far as I could test it, it does behave like the include + join + where combo, in which user results are filtered by post criteria.

[2019-03-16 00:47] IRCraziestTaxi commented on #47
I updated the documentation (version `1.0.0-alpha.15`) and am going to go ahead and close this issue. I will try to figure something out if somebody opens it back up.

[2019-03-16 00:47] #47 closed

[2019-03-21 01:20] irissoftworks opened #54 "Transactions"
Again thanks for the great library!

One thing that is causing pain at the moment is that I am not sure how to handle transactions or if they are supported and I am currently falling back to using the typeorm native repos or the native entity manager to handle transactions.

I could be missing something but if not is there currently a plan to add support for transactions ?

There is an implementat

[2019-03-21 03:53] IRCraziestTaxi commented on #54
Thanks for bringing this up! I have thought about this a lot and would like to finally get around to implementing it. I will look at the `@Transaction` decorator - hopefully it will help to take care of this issue quickly.

[2019-03-21 16:13] irissoftworks commented on #54
Awesome man, cheers for the prompt reply.

On a sidenote, to save you some time in digging, that approach requires middleware to be in place to run the requests inside the CLS context, which is probably not relevant to typeorm-linq-repos.

I think the whole thing may require some thought as to how it could be integrated, which and how many packages have to be created. I am assuming you would want

[2019-03-21 16:50] IRCraziestTaxi commented on #54
Ah, ok, I was kinda speed reading the original comment and misunderstood. I saw `@Transaction` and assumed it was an actual decorator in TypeORM. My bad!

You are correct - I will not create any unnecessary coupling to another framework. This lib is only intended to wrap TypeORM; therefore, TypeORM will remain its only peer dependency if I can help it.

The factory option approach sounds promising

[2019-03-25 01:57] IRCraziestTaxi commented on #54
Using the changes made to `typeorm-transactional-cls-hooked` per https://github.com/typeorm/typeorm/issues/3884, `typeorm-transactional-cls-hooked` is now VERY easy to use with `typeorm-linq-repository`. Simply call `patchTypeORMRepositoryWithBaseRepository();` when bootstrapping your app and you are good to go!

Although I am disappointed in myself for not supporting transactions sooner, I believ

[2019-03-25 01:57] #54 closed

[2019-03-25 13:49] labibramadhan opened #56 "How to count?"
How to get only count of the results by using `getAll` method?

On the one side i want to fetch entity results paged (using skip & take), and on the another side i want to fetch total results without paged (without using skip & take). The entity results are going to be shown for table paged data, and the total results are going to be used on the pagination total count for showing total available p

[2019-03-26 00:15] labibramadhan commented on #56
Temporary solution:

[code]

But the `.select(u => u.id)` doesn't work, the returned entities are the full object rather than only returning id. I saw that [this line](https://github.com/IRCraziestTaxi/typeorm-linq-repository/blob/53bf369e53136179b4d5b2f835781695784cdede/src/query/Query.ts#L296), doesn't do nothing to the `_queryParts`, it doesn't push any kind of `QueryBuilderPart`, or maybe `bui

[2019-03-26 06:23] IRCraziestTaxi commented on #56
Thanks for bringing this up! Along with a lot of other things I have been thinking about that this lib is lacking (one major one is grouping), I have been thinking about the lack of ability to count lately, especially when you opened this issue.

As soon as the issue was opened, I got an idea of how to implement this and just published that fix in version `1.0.0-alpha.17`.

Here is the rundown of

[2019-03-26 14:54] IRCraziestTaxi commented on #56
Actually, I was thinking about my changes after I published them and I realized that I was way over-thinking the problem. Adding a `count` method that clones the QueryBuilder was, in fact, sufficient to solve the problem, since the only reason one would ever need to "re-use" a query is for counting. My changes just added unnecessary complexity to the code and confusion to the usage of queries.

I'

[2019-03-27 16:13] #56 closed

[2019-03-31 06:06] IRCraziestTaxi commented on #20
Update on this: I took @Aracturat's sample code and started messing around with this and, after thinking about it and talking with @jsonpj3wt about it, realized that doing this is going to make `typescript` a _dependency_ - _not_ just a dev dependency - of this lib. That makes me wary because that is a very heavy dependency to enforce on a project wanting to use this lib.

Anybody have thoughts on

[2019-05-27 01:47] irissoftworks opened #61 "Integration with typeorm entity schemas"
Was playing with things and realized the following:

[code]

Looks like it's just a typing issue ?

[2019-05-27 03:20] IRCraziestTaxi commented on #61
I am unfamiliar with this `EntitySchema` business, but after looking at the code in both TypeORM and typeorm-linq-repository, I don't see why it would be presenting a problem. I'll look into it when I get some time.

[2019-05-27 20:42] IRCraziestTaxi commented on #61
Ok... I see. `LinqRepository` expects a constructor of an entity, so since `matrixEntitySchema` is an instance of an `EntitySchema` rather than the type of a class, it throws the error.

It appears that simply having `LinqRepository` accept either a class constructor of type `T` _or_ an `EntitySchema<T>` will allow Entity Schemas to be used.

I'll update as soon as possible.

[2019-05-27 20:54] #61 closed

[2019-05-27 20:54] IRCraziestTaxi commented on #61
Fixed in `typeorm-linq-repository@alpha.19`.

[2019-06-13 11:32] bengry opened #65 "Add support for groupBy"
I tested out the library in one of our projects, and it seems great, much easier then the built-in QueryBuilder in TypeORM, in addition to being more type-safe.

I did notice that there's no groupBy operator, is there a technical reason behind it, or is it just not implemented at the moment (if that's the case - is there any work being done on it?)

Thanks.

[2019-06-14 00:25] IRCraziestTaxi commented on #65
Hey, thanks for using the lib!

I knew this issue was coming sooner than later. There is currently no work being done on it of which I am aware. I have been meaning to implement it, but I haven't had the time to fool around with it. I have not even used TypeORM's groupBy, so I will need to try it out and see what needs to be done on my side to make it work with this lib.

I should be able to look

[2019-06-18 21:57] IRCraziestTaxi commented on #65
Update - I got a second to check out TypeORM's own `groupBy` method and realized it isn't as complicated as I assumed it would be. I'm used to Entity Framework's `GroupBy` method resulting in an `IGrouping` result that separates the grouped entities and I assumed TypeORM would do something similar, but that does not appear to be the case as the results are still just an array of the entity type. `

[2019-06-18 23:29] IRCraziestTaxi commented on #65
fixed in version 1.0.0-alpha.21 via #66.

[2019-06-18 23:29] #65 closed

[2019-07-08 06:44] longpro1601 opened #67 "Use for NestJs"
Hi,
I'm using NestJs,
I need add and config typeorm-linq-repository  for project

Please help me @IRCraziestTaxi .

Thanks.

[2019-07-09 15:55] IRCraziestTaxi commented on #67
Hi @longpro1601, I appreciate your interest in using this library!

The beauty of this library is that all it does is wrap TypeORM's connection (configured at app startup) to expose the repository, so the configuration portion of the work is more on the TypeORM side than the typeorm-linq-repository side.

While I have never used NestJS, I took a quick look at their documentation and they actually

[2019-07-09 17:01] welkie commented on #67
@IRCraziestTaxi Awesome example. I suggest copying those instructions into the repo readme.

[2019-08-09 07:14] longpro1601 opened #68 "Connection "default" was not found"
ConnectionNotFoundError: Connection "default" was not found.
[0]     at new ConnectionNotFoundError (..\src\error\ConnectionNotFoundError.ts:8:9)
[0]     at ConnectionManager.get (..\src\connection\ConnectionManager.ts:40:19)
[0]     at new LinqRepository (..\node_modules\typeorm-linq-repository\src\repository\LinqRepository.js:26:14)
[0]     at new RoleService (..\src\modules\services\role.servic

[2019-08-09 18:13] GabeKuslansky opened #69 "Support for upsert?"
Is it possible to run an upsert query with this repository? I'd like to create an entity or update it if it doesn't exist without having to run two separate queries (ex: select, then update or insert).

[2019-08-15 17:21] IRCraziestTaxi commented on #67
Going to go ahead and close this since there hasn't been any activity for a while and the original question seems to have been addressed. I will indeed beef up the readme with more useful examples such as those above when I have some time.

[2019-08-15 17:21] #67 closed

[2019-08-15 17:25] IRCraziestTaxi commented on #68
Hello again @longpro1601!

Unfortunately, without seeing how you are setting up your TypeORM connection, I can't really say what is wrong.

One of two things is happening: either your TypeORM connection isn't being opened properly before you attempt to perform a query or you must specify the name of the connection you are using if it is not the default (unnamed) one.

I assume you either cannot or

[2019-08-15 17:30] IRCraziestTaxi commented on #69
Hi @GabeKuslansky! Sorry for the delayed reply.

I looked into it a little bit and it should be fairly easy to implement. As soon as I get some time (should be able to work on it within the next week or so), I will implement it and get back to you.

Thanks for using typeorm-linq-repository! I always appreciate folks using it and giving feedback to make it better. :)

[2019-08-15 21:19] GabeKuslansky commented on #69
@IRCraziestTaxi no worries. I have a short background in C# and miss its luxuries so this repository has been a jackpot of a find for me. Thanks for looking into it.

This might have to be a separate issue/feature request, but if you're planning on implementing upsert, there is another type of functionality that I think would be useful. Being able to update an entity by one or more properties inst

[2019-08-21 14:00] freefred81 commented on #68
Hi I have same Problem ... he give to me this Error:

No repository for "OpportunityRepository" was found. Looks like this entity is not registered in current "default" connection? +33ms
RepositoryNotFoundError: No repository for "OpportunityRepository" was found. Looks like this entity is not registered in current "default" connection?
    at new RepositoryNotFoundError (/Users/fscamuzzi/Document

[2019-08-22 07:10] freefred81 opened #70 "No repository for "XXXRepository" was found. Looks like this entity is not registered in current "default" connection?"
Hi ... I'm trying to use TypeORM-Linq with my Nest.js project.
But it give to me this error on startup:

RepositoryNotFoundError: No repository for "OpportunityRepository" was found. Looks like this entity is not registered in current "default" connection?
    at new RepositoryNotFoundError (/Users/fscamuzzi/Documents/Temp/nestproject/src/error/RepositoryNotFoundError.ts:10:9)
    at EntityManager

[2019-08-22 09:08] freefred81 commented on #70
I have change a little bit my code ..and now it works .. BUT only the GetAll() ... if i try a where clause it stay stucked .. if you ping me i'll update the repo ... thnx!

[2019-08-23 13:23] freefred81 commented on #70
Hi .. any news?

[2019-08-24 00:55] IRCraziestTaxi commented on #70
Sorry I have been off the radar. Work has been bonkers lately.

I will take a look at the repo and see if I can spot the problem.

[2019-08-24 00:57] IRCraziestTaxi commented on #68
Sorry I have been off the radar. Work has been bonkers lately.

@freefred81 I am unfamiliar with nest, but I will take a look at the repo and see if I can spot the problem.

@longpro1601 Your issue appears to be a different one than @freefred81's. Could you possibly provide a repo demonstrating the issue so I can take a look at it?

[2019-08-24 00:58] IRCraziestTaxi commented on #68
Actually @freefred81, let's continue the discussion for your issue at [the issue you opened](https://github.com/IRCraziestTaxi/typeorm-linq-repository/issues/70).

[2019-08-24 01:11] IRCraziestTaxi commented on #70
@freefred81 Your usage of

[code]

looks correct. Could you clarify what you mean by

? Do you get an error or does the async never return? Hopefully you can get that info to me quicker than it would take me to get a database set up and all that so I can try it myself.

[2019-08-24 01:35] IRCraziestTaxi commented on #68
@longpro1601 For your reference, take a look at @freefred81's repository because they said they got it running (minus the issue with `.where(...).isFalse()` that we are trying to work out). If you continue to experience the issue, please set up a small repro that I can take a look at.

[2019-08-24 16:26] freefred81 commented on #70
Hi ...!!! ... First of all REALLY REALLY thnx for your time and support .... !! .. i know you maybe work hard .. so really thnx for your time !! ... I'vee update my repo with a new folder (database) inside there's a scripts folder where you can find 2 scripts (.sql) to create the Table Opportunity e insert one record inside it ... So you can debug it and you'll se what happen .... if you try to a

[2019-08-25 03:22] IRCraziestTaxi commented on #70
How are you debugging? Can you share your `launch.json`? I haven't really used nest or nodemon and am having quite a time trying to figure out how to debug with it.

[2019-08-26 06:35] freefred81 commented on #70
Really sorry for delay ...

try to install nodemon globally with

`npm install -g nodemon`

then inside the project (once you've

Vs code will start in debug mode (and will hitting yours break point)

![image](https://user-images.githubusercontent.com/25612263/63670221-6869af80-c7dc-11e9-9099-7a26045381a8.png)

[2019-08-27 06:28] freefred81 commented on #70
mmm looks strange .. i don'n have any error..  try to disable the tslint vscode extensions (it's too much strict).

[2019-08-28 07:38] freefred81 commented on #70
Hi !! ... IT WORKS!!!!! .... really really thnx for your time and patiente ... it works as expected!! .... you' re the number ONE!!!

[2019-09-13 13:43] juicycleff opened #72 "support for getById of string type"

[2019-09-13 13:44] #72 closed

[2019-09-15 17:44] GabeKuslansky commented on #69
There's a situation for me where calling .update() actually generates an "INSERT INTO" query and causes unique constraint errors from the db. Any updates on upsert support?

[2019-09-16 18:49] IRCraziestTaxi commented on #69
Hey @GabeKuslansky, unfortunately I have been slammed with work for a while (only recently made an update to this lib that I needed for work) and haven't looked too much into this.

I did just look into the source and see that this lib's `update` method calls TypeORM's `save` method, which it probably should not do since it is basically an upsert.

I'll look into separating those methods as soon a

[2019-09-17 21:53] dotslashx opened #74 "How to handle nullable relations"
What is the correct way to handle nullable relations using this library?
I cant find anything about this situation in the docs.

For example we have:
[code]

However I am unable to load the `Foo` object along with the `Bar` and `Baz` relations:

[code]

Is there any solution for this?

**EDIT:**
It turns out its caused by `strictNullChecks` setting of `tsconfig`.
Will this be supported?

[2019-09-18 02:25] IRCraziestTaxi commented on #74
Hey @dotslashx, thanks for using the repo!

Can you check and share your installed versions of `typescript` and `typeorm-linq-repository`?

With the below code, I am getting no errors at neither compile time nor run time.

[code]

Here are the versions of my installed dependencies:

[code]

[2019-09-18 02:53] IRCraziestTaxi commented on #69
@GabeKuslansky Would you mind sharing a repro or at least a few code snippets to demonstrate how you got the unique constraint errors? I tested out upserting single entities as well as collections with the `update` method and got expected upsert behavior with no errors, but my sample code was very basic.

[2019-09-18 18:09] dotslashx commented on #74
Hello @IRCraziestTaxi

I am using the exact same versions, but I've looked into it and turns out to be the `tsconfig` options that I am using, precisely the `strictNullChecks` which is also enabled by `strict`. I would really like to keep that option enabled. Is this possible for this library to support it?

[2019-09-18 20:41] IRCraziestTaxi commented on #74
@dotslashx Ok, I placed `"strictNullChecks": true` in my tsconfig and that checks out.

However, the source of the error is not typeorm-linq-repository, but typescript itself.

Consider the following:

[code]

Just like the callback passed to `callbackTest` that returns `foo.bar.baz`, typescript treats the lambda you pass to typeorm-linq-repository methods as it would any other callback.

If I rem

[2019-09-18 20:53] IRCraziestTaxi commented on #74
@dotslashx Ok, so out of curiosity I changed the definition of `Foo.bar` to `public bar?: Bar;` and the error turned into `Object may be 'undefined'.`

I did find that if I change `.thenInclude(bar => bar.baz)` to `.thenInclude(bar => bar!.baz)`, the error goes away, but doing that would cause errors in typeorm-linq-repository based on how it parses the lambda to get the property names.

I am goin

[2019-09-18 21:25] dotslashx commented on #74
This is actually interesting, I am looking forward for your decision.

To answer your question, I am using the null type hint to be able to reset the relation as it is nullable and the strict mode will not let me do it without the null type. On the other hand the strict null checks simply helps me to find most of compile time mistakes when using properties of object which may be null or undefined

[2019-09-19 03:15] IRCraziestTaxi commented on #74
@dotslashx I updated `ts-simple-nameof` to strip `!` operators from the lambdas passed to this lib's methods, so you can now safely use `.thenInclude(bar => bar!.baz)`. Just update `typeorm-linq-repository` to the latest (`1.0.0` - finally decided to let it graduate from alpha) and you should be good to go!

Thanks for helping find this problem! I'm certain others have had or will have the same pr

[2019-09-19 03:15] #74 closed

[2019-09-19 03:16] IRCraziestTaxi commented on #68
Since this has been inactive for almost a month, I'm going to go ahead and close it. If you continue to experience the problem, please create a repro I can clone and look at and reopen the issue.

[2019-09-19 03:16] #68 closed

[2019-09-29 18:54] GabeKuslansky commented on #69
@IRCraziestTaxi
Assume we have an entity that has a One-to-One relationship with a value object (Say, player and their settings).

If we try to cascade update the settings by calling .update(), the repository will generate an insert into query. This is a problem because my Settings entity already exists in the database with default values, so the unique constraint is enforced...
[code]

[code]

He

[2019-09-29 19:25] GabeKuslansky commented on #69
Update.. was able to fix the issue this way
[code]

My getPlayer method doesn't run a .include(player => player.settings) method (which would include the primary key id of settings table), so I manually tied together the relationships.

[2019-09-30 13:15] freefred81 opened #76 "getOne() method looks not LIMIT query"
Hi .. again here.

I'm using your lib and it's great!!.. but just one quick doubt ...

I'm doing a query like:

[code]

Not it works and return a single object ... BUT if i enable the logs of the query .. i can see this:
`
 SELECT "entity"."lastname" AS "entity_lastname", "entity"."attivo__c" AS "entity_attivo__c", "entity"."personhasoptedoutofemail" AS "entity_personhasoptedoutofemail", "entity".

[2019-10-03 02:37] IRCraziestTaxi commented on #69
Sorry I have been MIA for a few days. I've been super busy with work and other stuff.

My first question would be: does the incoming `settings: PlayerSettings` in your `updateSettings` method have the ID of the existing settings?

If not, then there lies the problem because I'm _fairly sure_ TypeORM will perform an update rather than an insert if the property on the object to update that correspon

[2019-10-03 02:46] IRCraziestTaxi commented on #76
Hello again!

Huh... that is interesting. `typeorm-linq-repository`'s `getOne` method literally calls `typeorm`'s `getOne` method under the hood, so I would expect that the query is limited to one result.

I would suggest getting a standard `typeorm` repository (either with its `getRepository` method or, since version `1.0.0` of `typeorm-linq-repository`, you can use `LinqRepository`'s `typeormRep

[2019-10-03 07:05] freefred81 commented on #76
HI!!...as every time..really thnx for you time and your reply!!... I'm realy enjoy using your repo.

Ok i'll do as you said ... (for the moment i put maybe a take(1) at the and).

Another quick question .. i notice if i do a query like:

[code]

and it works as expected .. it retive 10 task with related account (relation many-to-one)

BUT if i do a join like:

 const query = await this._TaskReposi

[2019-10-03 13:45] freefred81 opened #78 "set setTypeParser to manage UTC datetime"
Hi ..

quick question ...

i have some problems with utc date manage (as many other has on postgres)

i have found a solution here

[(https://github.com/typeorm/typeorm/issues/3286)]

so i try something like:

[code]
or also (i use a nest.js app)

[code]
which be more clean (so i don't have to repeat the snippet every where..

but it looks not doing nothing ..

i have also try (just to check) if i

[2019-10-03 16:38] IRCraziestTaxi commented on #76
@freefred81 To answer that question about `include` versus `join`:

* `include` performs a `LEFT JOIN` and `SELECT` on the included entity, which is why you get the `account` with each `Task` in the results.

* `join` performs an `INNER JOIN` rather than a `LEFT JOIN` and also performs *NO* `SELECT`, so that is why `account` is not included with the `Task`. Also, since `join` performs an `INNER JO

[2019-10-04 06:38] freefred81 commented on #76
YEs .. it's very clear now .. and the lib is not so complicated  .... i know do a ORM linq style (like EF) i's not so easy ..and you do a GREAT job.... really thnx for your time and explanation!!

[2019-10-04 15:03] IRCraziestTaxi commented on #78
It looks like this has nothing to do with typeorm-linq-repository but rather with setup in TypeORM and Nest. I'm going to go ahead and close this for that reason. I would suggest opening an issue with either [Nest](https://github.com/nestjs/nest) or, more likely, their [TypeORM module](https://github.com/nestjs/typeorm). I would see what I can do to help out but honestly I have no experience with

[2019-10-04 15:03] #78 closed

[2019-10-15 08:34] longpro1601 opened #79 "Get MAX/MIN value"
Hi,

I using lib, but cannot find syntax get MAX/MIN value (ID: number) on a Table

Thanks.

[2019-10-18 14:26] freefred81 opened #80 "ANY PLAN FOR MONGODB SUPPORT?"
Hi Do you have any plan to support also MongoDB?

maybe also for basic query (where , project etc)

Thnx!

[2019-10-22 01:56] IRCraziestTaxi commented on #80
Hey @freefred81,

Honestly, I never use Mongo, but I took for granted that TypeORM's QueryBuilder (which at the end of the day is what this lib uses to generate the queries) already translated the SQL-like queries generated by QueryBuilder into Mongo queries. Is that not the case?

I don't have a ton of time to dig into it at the moment, but if you can give me an example of how a QueryBuilder call

[2019-10-22 07:01] freefred81 commented on #80
Hi... You're nice as usual .. really thnx for your time!..you have to give a try to mongoDb!!!.. i really love it (really really better than SQL db)..

these are some example of common where clause on mongodb TypeORM repo:

[code]

[2019-10-27 16:19] longpro1601 opened #81 "Cannot SELECT column1, column2, ... FROM table_name;"
Hi,
I cannot SELECT code, ... FROM table_name;

 const result = await this.companyRepository.getAll().select(x=>x.code);
as a result:     SELECT *  FROM table_name;

Please help me for SELECT column1, column2, ...;

Thanks

[2019-10-28 17:10] IRCraziestTaxi commented on #81
Hey @longpro1601,

Since this lib was built around objects and type safety, I never considered selecting only specific columns from a table. It was meant to query objects with type safety in mind and return a known type: the type of the object tied to the table being queried. Right off the top of my head, I cannot envision a way to make the return type of the object containing the selected propert

[2019-10-28 17:26] IRCraziestTaxi commented on #80
Hey @freefred81,

I finally got a few minutes to look into it a little more and I found that TypeORM handles mongo queries in a different way entirely than it does for SQL queries. It appears that mongo queryies don't even use TypeORM's `QueryBuilder`, which is evidently only for SQL queries and is what this lib wraps.

You can get some context via the discussion [in this TypeORM issue about it](h

[2019-10-29 03:25] #81 closed

[2019-11-08 09:13] longpro1601 opened #82 "Support extension unaccent contains/equal"
Hi,

I have issues about when using: "where with equal or contains".
Ex: i have table Product (id, name) with data
1 Café
2 Drink

description:I have repoProduct.getOne().where(p => p.name).contains("cafe")
actual: data return null;
expectations: data return {id:1, name: Café}

Thanks,

[2019-11-15 08:56] ljobse commented on #76
I think this could be a TypeORM log issue. Whenever you specify take() this will not show a limit in the logs. So that means 1 of 2 things:
1.- TypeORM logs are incorrect
2.- TypeORM handles limits in memory. If this is the case, the package would not be usable for any production application so I highly doubt that.

[2019-11-25 21:52] IRCraziestTaxi opened #83 "LinqRepository incompatible with entities not containing a property named "id""
Due to the `EntityBase` type that defines entities to be used with this lib, although the `id` property is optional in the type, an error is thrown when trying to use `LinqRepository` with an entity not containing a property named `id` because there are no properties in common with `EntityBase`. The fix is simple and will be published soon.

[2019-11-26 02:31] #83 closed

[2019-11-26 02:33] IRCraziestTaxi commented on #83
Fixed in version 1.1.0.

[2019-12-06 16:30] manel24 commented on #82
Currently trying to solve the same issue! Looking at this workaround, but still, need to generate a typeORM migration right?
https://stackoverflow.com/questions/11005036/does-postgresql-support-accent-insensitive-collations

[2019-12-22 08:44] ivanjd opened #85 "LOWER called on non string columns when using .where().equal() resulting in a database error."
When performing the following query
[code]
the executel SQL looks like that:
` SELECT ... FROM "public"."product" "entity" WHERE LOWER("entity"."categoryId") = '1'` and postgres responds with `error: function lower(integer) does not exist`
A workaround it to use `.equal(catId, {matchCase: true})`, however having to do this in a number of places is annoying.

`categoryId` is defined as a number in

[2019-12-22 12:40] ivanjd commented on #85
Turns out it is not a problem with the library. NestJS controller parameters have a wrong runtime type. In a controller method that looks like this:
``` async getReviews(@Param('productId') productId: number) {...}```
the runtime type of `productId` is string regardles of the fact that it is defined as number and this problem leaks all the way down to the `typeorm-linq-repository` code that genera

[2019-12-22 21:55] IRCraziestTaxi commented on #85
That is odd. I am glad you brought the nest route parameter issue to my attention... I took for granted if you typed it as a number it would parse it as a number. That should definitely be opened as an issue on nest, assuming it has not already been.

I suppose the most straightforward workaround would be to use `parseInt()` on all route IDs. Hopefully nest will fix the number issue.

Interestingl

[2019-12-22 21:55] #85 closed

[2019-12-30 11:49] ivanjd commented on #85
We ended up creating a custom @Param attribute for that and I posted a question in nest.
I have another similar issue now. It has to do with enums.
[code]
If I don't specify  {matchCase: true} the lib tries to call LOWER on the enum and pg throws an error. The enum is defined as follows:
[code]
And the property in the entity definition is decorated like that:
[code]

[2019-12-30 12:09] ivanjd opened #86 "Subquery Support"
Does the lib support subqueries. Imagine `Products` that have `Orders`, while `Orders` have `Shipments`. How would I query for all products and join them with only those orders that have a shipment in a pending state using the typeorm-linq-repository api.

[2019-12-30 16:09] IRCraziestTaxi commented on #85
That is strange... if the enum value is just a string, then there should not be a problem. I will debug and see what is going on.

[2019-12-30 16:24] IRCraziestTaxi commented on #85
Sorry, I did not really pay attention to your column definition when I first replied. I will also say that I have never used a column type of "enum" so I am not really sure what the implications are in Postgres or any other DB engine. Since specifying `{ matchCase: true }` in your query fixes it, I assume calling `LOWER` on enum columns just isn't valid despite the fact that at the end of the day

[2019-12-30 16:29] IRCraziestTaxi commented on #86
Hmm... yes, the lib does support subqueries (or "inner queries" as I called them in the readme) via the `inSelected` and `notInSelected`methods.

However, for the query you have described, I would suspect it would be as simple as:

[code]

Let me know if that makes sense. I will leave the issue open for now but I assume that should address your question.

[2019-12-30 16:36] IRCraziestTaxi commented on #86
Another note: if you want to actually include the `Order` and `Shipment` objects in your `Product` results, you can use `join` functions after `include` functions on the same relationship to filter what is included.

i.e., if you wanted to get all Products and also include the Products' Orders, but only where the Order's Shipment state is pending, you would use:

[code]

[2020-01-03 08:09] ivanjd opened #87 "LOWER called on an enum value resulting in a pg error"
In the following query if I don't specify  {matchCase: true} the lib tries to call LOWER() on the enum and pg throws an error. The enum is defined as follows:
[code]

[code]
And the property in the entity definition is decorated like that:
[code]
This is a follow up of #85

BTW, it will be nice to have a setting that specifies if LOWER is called on strings in the first place. In all of my usecases

[2020-01-03 08:20] ivanjd commented on #86
I have used `include` and `join` to get back the joined entity, this is not a problem. However, I don't think the query you propose will solve my problem. Basically what I need is:
`Products LEFT JOIN (Orders INNER JOIN Shipments)`
Imagine a case where there are no Shipments at all. Then:
`Products LEFT JOIN Orders INNER JOIN Shipments`
will result in an empty result set, but I want the products a

[2020-01-17 17:56] spion-h4 commented on #20
I think a middle-ground design would be nice.

[code]

Instead of passing T, you would pass Row<T> to the argument with each property being a Column<Name, T> having a set of operators available. You could also export a list of functions and potentially do projections with `.select(p => {likes: p.likes, dislikes: p.dislikes, score: p.likes.minus(p.dislikes)})`

This would be even nicer than node-sq

[2020-01-17 20:54] IRCraziestTaxi commented on #86
Sorry it took me a while to reply to this.

I'm not really sure what you mean... `Products LEFT JOIN ...` will result in the `Product`s being included regardless of whether the `Product`'s `Order` is since it is a `LEFT JOIN`.

Note in my example that `joinAlso` is used to perform a `LEFT JOIN`, not `join`, which does produce an `INNER JOIN`.

Let me know if I am still misunderstanding something.

[2020-01-17 21:04] IRCraziestTaxi commented on #82
Hey, first of all, sincere apologies for taking over two months to reply to this. I got super busy last couple of months and let issues for this lib slip through the cracks.

This is indeed a problem. I will investigate ways to fix it - I would be surprised if there's not some SQL option exposed through TypeORM or something - although I cannot promise I will find the time in the next week or so.

[2020-01-17 21:11] IRCraziestTaxi commented on #69
Hey @GabeKuslansky, were you able to ponder my previous comment? I'd like to close this issue if possible.

Also, I feel like this was previously discussed, although I cannot find it: I looked into it and under the hood, this lib was always calling TypeORM's `save` method for both `create` and `update`; the only difference is that `create` sets the ID on the object to `undefined` (unless prevented

[2020-01-28 23:55] IRCraziestTaxi commented on #69
Gonna close this issue due to lack of response. If you want to reopen it, leave a comment.

[2020-01-28 23:55] #69 closed

[2020-05-20 10:49] 0xCAP opened #88 "Beautiful!"
Just chimed in to tell you you are doing an amazing job here!

[2020-05-20 22:37] IRCraziestTaxi commented on #88
Thank you very much for the feedback! This issue actually does remind me that I need to go through the issues that have been open for a while to either close or work on them... it has been a while since I've had time to look at it.

Thanks again! I assume it's safe to close this one. :)

[2020-05-20 22:37] #88 closed

[2020-05-20 22:39] IRCraziestTaxi commented on #86
Hey @ivanjd, sorry for the period of inactivity on my part. I assume my response was able to shed some light on the situation. If not, feel free to reopen, hopefully with a small repro I can clone and look at.

[2020-05-20 22:39] #86 closed

[2020-05-20 22:46] IRCraziestTaxi commented on #80
Hey @freefred81, sorry for the long period of inactivity on this.

Given the thoughts above, I do not feel like modifying this library to support TypeORM's Mongo functions would be a good move. This library was build exclusively with SQL queries in mind, so I would not feel right adding complexity to support a completely different database engine, especially given that TypeORM's query builder for

[2020-05-20 22:46] #80 closed

[2020-05-20 22:48] IRCraziestTaxi commented on #76
Terribly sorry for the long period of inactivity on this.

I agree with @ljobse - this seems like a problem on TypeORM's end in one way or another. I'm going to go ahead and close this one.

[2020-05-20 22:48] #76 closed

[2020-05-22 03:10] IRCraziestTaxi commented on #45
Happy to report I finally got around to setting up dependabot with my repos. Thanks for the suggestion! :)

[2020-05-22 03:10] #45 closed

[2020-05-22 03:50] IRCraziestTaxi commented on #45
@mattwelke Any chance you have a repo of yours that you can recommend to look at for a simple introduction to GitHub's CI with a node project? I looked at a few pages about their "Actions" but a hands on example would help me a lot.

Thanks!

[2020-05-22 03:54] mattwelke commented on #45
I actually converted a few of my repos from CircleCI to GitHub Actions for the CI so that dependant would auto merge the PRs. Look at my "postgres-typeorm-example". Think I did that one.

[2020-06-26 08:42] bugMaker-237 opened #102 "Select specific fields through LinqRepository fluent api"
Hello, very nice library. Coming from a .net background, it's easy to implement my repo pattern with this.

Actually i'm not able to select specific fields using the LinqRepository fluent api. So i tried to get the underlying queryBuilder to append to it the select action with specific fields. But IQuery is not exposing the property.

[code]
This is what i suppose i could do to get the queryBuilde

[2020-10-09 11:11] darrenprunty commented on #81
It would be unreal if this was possible! I know it's closed a while now though.

Just coming from working with Entity Framework to a project using TypeOrm and NestJs. The default querybuilder is scary that everything is hard-coded as string.

[2020-11-02 04:18] GabeKuslansky opened #133 "getOne() doesn't support eager loading entities"
.getOne() does not return eagerly loaded entities for an entity which has OneToMany/OneToOne relationships with other entities that are explicitly eagerly loaded with the decorator ```@OneToMany(type => GameFormatRank, rank => rank.player, { eager: true })```. I tested this with TypeORM's .findOne() API vs this library's getOne() method, and TypeORM's .findOne() includes the eagerly loaded entitie

[2021-04-06 16:46] IRCraziestTaxi commented on #133
Hey @GabeKuslansky, sorry, just now getting around to really looking at this.

Yes, this repository leverages TypeORM's QueryBuilder for all `get*` methods, so since TypeORM only supports eager relations with its `find*` methods, relationships must be included when using this repository's current `get*` methods.

I never gave any mind to eager relations because I always explicitly join relationshi

[2021-04-06 17:15] IRCraziestTaxi commented on #102
Hey @bugMaker-237, sorry, just now getting around to really looking at this.

This repository's Query class does have a `select` method, but right now its only purpose is to select a property for "inner queries" (`IN (...)` and `NOT IN (...)` queries). I gave it a quick look and I believe the `select` method could be modified to behave like TypeORM's `select` method, but in the spirit of maintaini

[2021-05-06 17:27] GabeKuslansky commented on #133
Thank you for the insight. I think a nice middleground might be an option in ormconfig.json to enable/disable eager loading on get* methods, as well as a config parameter in get* methods to disable/enable recursive eager loading

[2021-05-21 13:41] MikeBKemp opened #184 "Support for Property Accessors"
Hi - do you plan to support property accessors? i.e.:

[code]

I've patched ts-simple-nameof locally to get it to work for me, by changing one of the regular expressions:

[code]

I appreciate such a change may be counter to your goals for the package (or maybe it's just a bad idea!).

[2021-05-21 19:31] IRCraziestTaxi commented on #184
Hey @MikeBKemp, thanks for using `typeorm-linq-repository`! I always appreciate feedback.

I guess my first question is... why do you want to use property accessors with it? If accessing a property that is not defined on the class, that breaks type safety, which is the entire goal of this project. Same with `ts-simple-nameof`, which is where the change would need to occur.

I am hesitant to make t

[2021-05-22 12:30] MikeBKemp commented on #184
HI @IRCraziestTaxi! Thanks for the response. The use case for me is private fields - I have several entities with foreign keys on private fields (for encapsulation of entity behaviour). I was using QueryBuilder to join on these keys - similar to this comment https://github.com/typeorm/typeorm/issues/3548#issuecomment-472989734, but of course there's no type safety at all there. Using ```typeorm-li

[2021-05-23 11:37] MikeBKemp commented on #184
Hmm, I've just realised that I have another issue. I'm writing a React Native app with the Hermes engine, and https://github.com/facebook/hermes/issues/114 breaks ```ts-simple-nameof```. I may need to use a compile-time solution like https://github.com/dsherret/ts-nameof alongside QueryBuilder instead.

[2021-05-25 07:41] IRCraziestTaxi commented on #184
@MikeBKemp I'm glad you found a solution that works out for you!

For the sake of any future users with the same issue, I would say that if you are joining on a relation, I would consider it a public property anyway. Adding support for proper accessors and, in general, breaking type safety would be a good solution.

Again, thanks for using `typeorm-linq-repository` and supporting it!

[2021-05-25 07:41] #184 closed

[2021-07-27 20:13] Huxpro commented on #184
@MikeBKemp

I don't know how `ts-simple-nameof` but if it was blocked by https://github.com/facebook/hermes/issues/114, we are adding a special directive "show source" to make toString returning original source code. Would you mind try it with React Native 0.65-rc.3 and see if it helps? You can find more details at https://github.com/facebook/hermes/issues/114#issuecomment-887106990

[2021-07-28 11:23] MikeBKemp commented on #184
@Huxpro

Thanks for letting me know about the change. Unfortunately I cannot get the RC to build (probably some of my dependencies are incompatible, and it would take some time to recreate my use case in a fresh project). However https://github.com/facebook/hermes/issues/114#issuecomment-887106990 certainly looks very promising and should fix my issue.

[2021-08-27 18:08] tolstenko opened #218 "OrderBy random()"
Hello!

Your repo is awesome! Thanks!

Context:
IQuery provides two functions regarding ordering:
https://github.com/IRCraziestTaxi/typeorm-linq-repository/blob/9f1efb1e162e5203c83e78c457aed28eadf2b8a1/src/query/Query.ts#L364
and
https://github.com/IRCraziestTaxi/typeorm-linq-repository/blob/9f1efb1e162e5203c83e78c457aed28eadf2b8a1/src/query/Query.ts#L375
But
Probably we should have another one fo

[2021-09-07 18:06] IRCraziestTaxi commented on #218
Hey @tolstenko, sorry for just now getting around to looking at this.

Sure, I welcome PRs for new features! Before you create the PR, though, I have one comment on the commit you linked.

The summary for the new interface method says: `Orders the query on the specified property in random order.`

However, looking at the usage, `orderByExpression("RANDOM()")`, it doesn't take a property to sort on

[2021-10-21 22:02] IRCraziestTaxi commented on #218
@tolstenko Did you get a chance to review my feedback?

[2021-10-21 22:13] IRCraziestTaxi commented on #102
@bugMaker-237 I'm going through old issues and looking to close what I can. I'm going to go ahead and close this one for now, but feel free to reopen it if you can tell me more about your use case and what the contents of `spec.selector.fields` are.

[2021-10-21 22:13] #102 closed

[2022-01-08 02:33] Jedliu commented on #133
I think this should be added to the document in case anyone who could notice this earlier. Thanks,

[2022-10-06 08:59] maximelafarie commented on #82
I'm using it this way:

[code]

But the trick is here: I created a migration file manually that enables the `unaccent` function of Postrges
[code]

Cheers 🖖

[2022-10-19 15:53] AlexBrunGiglio opened #221 "Unable to use package with typeorm 0.3.10"
Hello,
I would like to migrate a nestjs project to its latest version (v9). I already use your package which is amazing but when I wanted to install it, the version of typeorm used by nestjs is too high compared to the package.

Would it be possible to update these dependencies?

nestjs package.json :
[code]

error :
[code]

[2022-10-20 05:05] IRCraziestTaxi commented on #221
@AlexBrunGiglio Thanks for bringing this up. I just published version 2.0.0, which uses the latest version of TypeORM. It took me a little longer than I expected because TypeORM introduced breaking changes (currently deprecated, but soon to be removed) that changed the way `LinqRepository` is constructed.

Summary directly from my updated readme:

Due to [breaking changes in TypeORM](https://githu

[2022-10-20 05:05] #221 closed